body{
  background: #674baf url("../images/bg-desktop.svg");
 font-family: 'Poppins', sans-serif;
}

.btn{
   display: block;
    border-radius: 70px;
    width: 187px;
    padding: 14px 40px;
}

.container{
    margin-top: 50px;
    
}

.btn:hover {
  background-color: pink; 
  cursor: pointer;
  color: white;
}
.btn-txt{
    color: hsl(257, 40%, 49%);
   font-family: 'Poppins', sans-serif;
   font-weight: 500;
}
.footer{
    position: absolute;
    bottom: 20px;
    display: fixed;
}
.heading{
    display: inline-block;
    width: 34%;
    margin-top: 35px;
    font-size: 40px;
    color: white;
        font-weight: bold;
}
.para{
    display: inline-block;
    width: 33%;
    color: white;
}

.logo{
    height: 45px;
    margin-top: 40px;
    margin-left: 50px;
     padding: 10px;
    display: block;
        font-weight: bold;
}
.mockups{
    margin-left: 50px;
    margin-right: 50px;
    float: left;
}
.attribution{
    display: flex;
    list-style: none;
    justify-content: end;
    clear: both;
    margin-right: 70px;
}

.icons{
    border: 1px solid #ffffff;
    border-radius: 50%;
    color: white;
    width: 40px;
    height: 40px;
    display: flex !important;
    align-items: center;
    justify-content: center;
     margin-inline: 7px;
}
.icons:hover{
    color: pink;
    cursor: pointer;
}


@media only screen and (max-width: 786px) and (min-width: 300px) {

    body{
        text-align: center;
        background-image: url("../images/bg-mobile.svg");
         background-repeat: no-repeat;
          background-size: center/cover;
}
.container{
    margin-top: 50px;
    text-align: center;
}

  .attribution{ 
      margin-right: 0px;
     text-align: center;
}
.heading{
    width: 68%;
    font-size: 20px;
    color: white;
}
.para{
    width: 74%;
    color: white;

}
 .attribution{ 
     display: flex;
    list-style: none;
    justify-content: center;
}
.icons{
    width: 11px;
    height: 11px;
    color:white;
    padding: 9px;
}
.mockups{
    margin-left: 0;
    margin-right: 0;
   float: none;
    width: 325px;
    height: 241px;
    display: inline-block;
   
}
.logo{
    padding: 0;
    height: 45px;
      margin-left: initial;
    display: block;
}
.btn{
    display: block;
    border-radius: 20px;
   width: 211px;
    margin: auto;
    padding: 14px 40px;
}
}

